.header-desktop, .header-mobile {
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.left-section, .middle-section,
.right-section {
  display: flex;
  align-items: center;
}

.left-section img, .middle-section img,
.right-section img {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.left-section {
  margin-left: 1.25rem;
}

.logo {
  font-size: 1.75rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.logo img {
  margin: 0 .5rem;
}

.middle-section {
  flex: 1;
  max-width: 30rem;
  margin-left: 3rem;
  margin-right: 2rem;
}

.search-button {
  width: 4rem;
  height: 2.5rem;
  border-radius: 0 1rem 1rem 0;
  margin-right: 0.6rem;
  margin-left: -0.1rem;
  background-color: #F8F8F8;
  border: 0.1rem solid gray;
  cursor: pointer;
  transition: 0.15s;
}

.search-bar {
  height: 2.3rem;
  border: 0.1rem solid gray;
  border-radius: 1rem 0 0 1rem;
  font-size: 1rem;
  padding-left: 1rem;
  flex: 1;
  width: 0;
}

.voice-button {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: 0.15s;
}

.right-section {
  justify-content: space-between;
  width: 12.5rem;
  flex-shrink: 0;
  margin-right: 1.25rem;
}

.right-section button, .hamburger-menu {
  border-radius: 50%;
  border: none;
  background: none;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s;
}

.right-section button:hover, .hamburger-menu:hover, 
.voice-button:hover, .search-button:hover {
  background-color: rgb(221, 221, 221);
}